In [88]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [89]:
data=pd.read_csv("basket_analysis.csv")

In [90]:
data

,Unnamed: 0,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,994,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,True
995,995,True,False,False,False,True,False,False,False,True,True,True,False,False,False,True,False
996,996,True,False,False,False,True,True,False,False,False,False,False,False,True,False,False,True
997,997,False,False,True,True,True,False,True,True,True,False,True,False,True,False,True,True
998,998,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True

In [95]:
df=data.drop('Unnamed: 0', axis=1)

In [96]:
df

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,True
995,True,False,False,False,True,False,False,False,True,True,True,False,False,False,True,False
996,True,False,False,False,True,True,False,False,False,False,False,False,True,False,False,True
997,False,False,True,True,True,False,True,True,True,False,True,False,True,False,True,True
998,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True

In [97]:
from mlxtend.preprocessing import TransactionEncoder

In [98]:
from mlxtend.frequent_patterns import apriori

In [107]:
frequent_skillsets=apriori(df, min_support=0.17, use_colnames=True)
frequent_skillsets

      support              itemsets
0    0.383383               (Apple)
1    0.384384               (Bread)
2    0.420420              (Butter)
3    0.404404              (Cheese)
4    0.407407                (Corn)
..        ...                   ...
115  0.191191       (Sugar, Yogurt)
116  0.188188    (Sugar, chocolate)
117  0.184184     (Unicorn, Yogurt)
118  0.186186  (Unicorn, chocolate)
119  0.198198   (chocolate, Yogurt)

[120 rows x 2 columns]

In [108]:
from mlxtend.frequent_patterns import association_rules

In [116]:
res=association_rules(frequent_skillsets, metric="confidence", min_threshold=0.47)
res=res[['antecedents','consequents','confidence']]
res = res.sort_values(by="confidence", ascending=False)
res

    antecedents     consequents  confidence
53       (Milk)     (chocolate)    0.520988
9   (Ice cream)        (Butter)    0.504878
7       (Bread)        (Yogurt)    0.502604
52  (chocolate)          (Milk)    0.501188
35       (Dill)     (chocolate)    0.500000
..          ...             ...         ...
65     (Yogurt)     (chocolate)    0.471429
6       (Bread)     (Ice cream)    0.471354
48     (Nutmeg)  (Kidney Beans)    0.471322
51    (Unicorn)          (Milk)    0.470437
64  (chocolate)        (Yogurt)    0.470309

[66 rows x 3 columns]

In [117]:
import re

for index, row in res.iterrows():
    antecedents = ', '.join([re.sub(r'skill_', '', item).replace('_', ' ').title() for item in row['antecedents']])
    consequents = ', '.join([re.sub(r'skill_', '', item).replace('_', ' ').title() for item in row['consequents']])
    confidence = round(row['confidence'], 3)
    print(f"{antecedents} -> {consequents}. Confidence = {confidence}")

Milk -> Chocolate. Confidence = 0.521
Ice Cream -> Butter. Confidence = 0.505
Bread -> Yogurt. Confidence = 0.503
Chocolate -> Milk. Confidence = 0.501
Dill -> Chocolate. Confidence = 0.5
Kidney Beans -> Butter. Confidence = 0.495
Cheese -> Kidney Beans. Confidence = 0.495
Nutmeg -> Butter. Confidence = 0.494
Butter -> Ice Cream. Confidence = 0.493
Ice Cream -> Chocolate. Confidence = 0.493
Milk -> Kidney Beans. Confidence = 0.491
Apple -> Butter. Confidence = 0.491
Kidney Beans -> Cheese. Confidence = 0.49
Milk -> Butter. Confidence = 0.489
Onion -> Butter. Confidence = 0.489
Apple -> Yogurt. Confidence = 0.488
Kidney Beans -> Milk. Confidence = 0.488
Onion -> Chocolate. Confidence = 0.486
Nutmeg -> Onion. Confidence = 0.486
Apple -> Corn. Confidence = 0.486
Eggs -> Yogurt. Confidence = 0.484
Onion -> Nutmeg. Confidence = 0.484
Dill -> Onion. Confidence = 0.482
Bread -> Chocolate. Confidence = 0.482
Nutmeg -> Sugar. Confidence = 0.481
Butter -> Kidney Beans. Confidence = 0.481
Butter -> Chocolate. Confidence = 0.481
Apple -> Milk. Confidence = 0.48
Kidney Beans -> Ice Cream. Confidence = 0.48
Chocolate -> Ice Cream. Confidence = 0.48
Chocolate -> Butter. Confidence = 0.48
Sugar -> Butter. Confidence = 0.479
Corn -> Kidney Beans. Confidence = 0.479
Nutmeg -> Cheese. Confidence = 0.479
Nutmeg -> Yogurt. Confidence = 0.479
Unicorn -> Chocolate. Confidence = 0.478
Ice Cream -> Kidney Beans. Confidence = 0.478
Kidney Beans -> Corn. Confidence = 0.478
Apple -> Chocolate. Confidence = 0.478
Dill -> Milk. Confidence = 0.477
Sugar -> Ice Cream. Confidence = 0.477
Milk -> Corn. Confidence = 0.477
Onion -> Ice Cream. Confidence = 0.476
Onion -> Dill. Confidence = 0.476
Onion -> Yogurt. Confidence = 0.476
Ice Cream -> Sugar. Confidence = 0.476
Unicorn -> Ice Cream. Confidence = 0.476
Kidney Beans -> Yogurt. Confidence = 0.475
Cheese -> Nutmeg. Confidence = 0.475
Apple -> Sugar. Confidence = 0.475
Corn -> Milk. Confidence = 0.474
Eggs -> Chocolate. Confidence = 0.474
Unicorn -> Yogurt. Confidence = 0.473
Unicorn -> Kidney Beans. Confidence = 0.473
Chocolate -> Dill. Confidence = 0.473
Sugar -> Nutmeg. Confidence = 0.472
Corn -> Chocolate. Confidence = 0.472
Corn -> Ice Cream. Confidence = 0.472
Onion -> Sugar. Confidence = 0.471
Butter -> Nutmeg. Confidence = 0.471
Butter -> Milk. Confidence = 0.471
Yogurt -> Chocolate. Confidence = 0.471
Bread -> Ice Cream. Confidence = 0.471
Nutmeg -> Kidney Beans. Confidence = 0.471
Unicorn -> Milk. Confidence = 0.47
Chocolate -> Yogurt. Confidence = 0.47